# Dependencies
node_modules/
interface/web/node_modules/

# Environment Variables (Sangat Penting untuk Keamanan)
.env
.env.local
.env.*.local

# Database & Logs (SQLite lama & Log file)
arcade.db
arcade.db-journal
*.log
npm-debug.log*

# Production Build (Vite/React)
interface/web/dist/
dist/

# Vercel & IDE
.vercel
.vscode/
.idea/

# System Files
.DS_Store
Thumbs.db
